# Node.js
node_modules/

# Logs
*.log

# Variables de entorno
.env
.env.local
.env.*

# Next.js
.next/
out/

# Strapi
backend/.cache/
backend/build/
backend/node_modules/

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/